.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  color: $backgroundColor;
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  color: $backgroundColor;
}
