%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%link {
  text-decoration: none;
}

%icon {
  fill: currentColor;
}

%title {
  margin-top: 0;
  color: $primaryTextColor;
  font-weight: 700;
}
