$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$accentColor: #2196f3;
$backgroundColor: #ffffff;
$iconColor: #afb1b8;
$timingFunction: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$primaryFontFamily: "Roboto", sans-serif;
$secondaryFontFamily: "Raleway", sans-serif;
$buttonShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

body {
  background-color: $backgroundColor;
  color: $primaryTextColor;
  font-family: $primaryFontFamily;
  letter-spacing: 0.03em;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.icon {
  fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
  outline: none;
}

input,
button {
  outline: none;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $primaryTextColor;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
}
